In [1]:
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns

import numpy as np
import pandas as pd
import env

import Naomi_wrangle as w

## Questions Answered:
  - 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
  - 2. Which lessons are least accessed?
  - 3.  At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
  - 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
  - 5. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?


## Executive Summary:
<div class="alert alert-block alert-warning">

* **Question One; Lessons most trafficked**: 
    * Data Science - classification 
    * Full Stack Front End - HTML-CSS
    * Full Stack Java - javascript-i
    * Full Stack PHP - index.html

* **Question Two; Lessons least trafficked**:
    * Data Science Program - NLP
    * Full Stack Front End - All except HTML-CSS
    * Full Stack Java - Professional Development
    * Full Stack PHP - HTML-CSS

* **Question Three; Cross curriculum access in 2019**:
    * The year began with access being restricted, but begining in August restriciton was lifted and students could access pages cross-curriculum
    
* **Question Four; Suspicious Activity**:
    * Data revealed 485 suspicious users and 456 suspicious ip addresses
    
* **Question Five; Focus Lesson**:
    * Darden, from the DS program accessed a lesson significantly more than other cohorts
    * Voyageurs, from WD program accessed a lesson significantly more than other cohorts
    
</div>

# Acquire Data

In [2]:
# acquire data from SQL and save to dataframe
df = w.wrangle_curriculum_data()
df.head(3)

,date,time,user_id,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,program_name,end_page
date,,,,,,,,,,,,,,
2018-01-26,2018-01-26,09:55:03,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php,/
2018-01-26,2018-01-26,09:56:02,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php,java-ii
2018-01-26,2018-01-26,09:56:05,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php,java-ii/object-oriented-programming

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 816192 entries, 2018-01-26 to 2021-04-21
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          816192 non-null  datetime64[ns]
 1   time          816192 non-null  object
 2   user_id       816192 non-null  int64
 3   cohort_id     816192 non-null  object
 4   ip            816192 non-null  object
 5   id            816192 non-null  object
 6   name          816192 non-null  object
 7   slack         816192 non-null  object
 8   start_date    816192 non-null  object
 9   end_date      816192 non-null  object
 10  created_at    816192 non-null  object
 11  updated_at    816192 non-null  object
 12  program_name  816192 non-null  object
 13  end_page      816192 non-null  object
dtypes: datetime64[ns](1), int64(1), object(12)
memory usage: 93.4+ MB

# Question 1: Which lesson appears to attract the most traffic consistently across cohorts (per program)?

#### Plan to Answer: 
- Create dataframes of students grouped by program
- Use `value_counts` and `nlargest` methods over the `end_page` column to determine which has the highest number of "hits"

In [4]:
# For Data Science:
ds_cohorts = df.loc[df["program_name"] == "data_science"]
ds_cohorts.end_page.value_counts().nlargest(3)

/                           8358
search/search_index.json    2203
classification/overview     1785
Name: end_page, dtype: int64

In [5]:
# For Full-Stack PHP
full_stack_php_cohorts = df.loc[df["program_name"] == "full_stack_php"]
full_stack_php_cohorts.end_page.value_counts().nlargest(3)

/               1681
index.html      1011
javascript-i     736
Name: end_page, dtype: int64

In [6]:
# For Full-Stack Java
full_stack_java_cohorts = df.loc[df["program_name"] == "full_stack_java"]
full_stack_java_cohorts.end_page.value_counts().nlargest(3)

/               29474
toc             16517
javascript-i    15640
Name: end_page, dtype: int64

In [7]:
# For Front End
front_end_cohorts = df.loc[df["program_name"] == "front_end"]
front_end_cohorts.end_page.value_counts().nlargest(3)

content/html-css                               2
/                                              1
content/html-css/gitbook/images/favicon.ico    1
Name: end_page, dtype: int64

<div class="alert alert-block alert-success">

**Answer**

|Program| Most Trafficked|
|:-------|:---------------|
|**Data Science**| Classification Overview|
|**Full Stack PHP** | Java Script-i|
|**Full Stack Java** | Java Script-i|
|**Front End** | HTML-css|
</div>

# Question 2: Which lessons are least accessed?

#### Plan to Answer: 
- Use previous question's dataframes of students grouped by program
- Use `value_counts` and `nsmallest` methods over the `end_page` column to determine which has the lowest number of "hits"

In [8]:
# For Data Science:
ds_cohorts.end_page.value_counts().nsmallest(105)

nlp                                             1
regression/feature_engineering_into_modeling    1
json-responses                                  1
2.1-spreadsheets-overview                       1
introduction-to-python                          1
                                               ..
imports                                         1
java-i/console-io                               1
appendix/univariate_regression_in_excel         1
6-regression/8-Project                          1
timeseries/E2E_example                          2
Name: end_page, Length: 105, dtype: int64

In [9]:
# 105 is the first instance of two hits for the page

In [10]:
# For Full-Stack PHP
full_stack_php_cohorts.end_page.value_counts().nsmallest(210)

slides/threads                                1
2-storytelling/project                        1
appendix/data-viz-references                  1
4-python/6-imports                            1
4-python/project                              1
                                             ..
content/primitive-types.html                  2
login                                         3
content/examples/git                          3
content/examples/php/if_else.php              3
content/mysql/basic-statements/delete.html    3
Name: end_page, Length: 210, dtype: int64

In [11]:
# 206 is the first instance of two hits for the page

In [12]:
# For Full-Stack Java
full_stack_java_cohorts.end_page.value_counts().nsmallest()

professional-development/professional-resume    1
javascript-i/intruduction/operators             1
mini_exercises                                  1
teams                                           1
sgithubtudents/1215                             1
Name: end_page, dtype: int64

In [13]:
# 344 is the first instance of two pages being the lowest value_count which is mapbox_api

In [14]:
# For Front End
front_end_cohorts.end_page.value_counts().nsmallest()

/                                              1
content/html-css/gitbook/images/favicon.ico    1
content/html-css/introduction.html             1
content/html-css                               2
Name: end_page, dtype: int64

<div class="alert alert-block alert-success">

**Answer**

|Program| Least Trafficked| Number of Pages Before Two Hits is the Lowest Number per Page|
|:-------|:---------------|:-----|
|**Data Science**| NLP|105 pages|
|**Full Stack PHP** | Slides/Threads|206 pages|
|**Full Stack Java** |Professional Development/Professional Resume| 344 pages|
|**Front End** | all pages except HTM-CSS| 3 pages *(represents 25% of total)*|
</div>

# Question 3: At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

In [15]:
# creating dataframes for the programs

ds_df = df[(df.program_name == 'data_science')]

wd_df = df[(df.program_name == 'full_stack_java')]

In [16]:
# zeroing in on 2019
yr_2019=df[df.index.year == 2019]

In [17]:
# creating data frames for the programs only of the year 2019
ds_df_19 = yr_2019[(yr_2019.program_name == 'data_science')]

wd_df_19 = yr_2019[(yr_2019.program_name == 'full_stack_java')]

In [18]:
ds_df_19.shape

(20068, 14)

In [19]:
wd_df_19.shape

(174035, 14)

In [20]:
# unique pages visited 
ds_page= list(ds_df_19.end_page.unique())

# list of unique pages in web dev
web_page= list(wd_df_19.end_page.unique())

# create a loop to cross check a page visited by ds students that matches with unique pages from web dev program

count= 0
for x in web_page:
    if x in ds_page:
        
        count+= 1       
print(count)

79

In [21]:
ds_page_df = pd.DataFrame(ds_page)
len(ds_page_df.value_counts())

# out of 20068 end pages, 298 are unique

298

In [22]:
web_page_df = pd.DataFrame(web_page)
len(web_page_df.value_counts())

# out of 174,035 end pages, 710 are unique

710

In [23]:
# Focusing on the month of August where there seems to be the lowest dip
Aug_2019=yr_2019[yr_2019.index.month == 8]

# df for data science of August 2019
ds_Aug = Aug_2019[(Aug_2019.program_name == 'data_science')]
# df for web development of August 2019
wd_Aug = Aug_2019[(Aug_2019.program_name == "full_stack_java")]

In [24]:
# checking for cross-curriculum page endpoints for August: there are none
ds_Aug_page = list(ds_Aug.end_page.unique())

web_Aug_page = list(wd_Aug.end_page.unique())

count = 0
for x in ds_Aug_page:
    if x in web_Aug_page:
        count += 1
        
print(count)

19

<div class="alert alert-block alert-success">

**Answer**

|Month| Number of Cross Curriculm Accesses|
|:-------|:---------------|
|**January**| 0 |
|**February** | 0 |
|**March** | 0 |
|**April** | 0 |
|**May**| 0 |
|**June** | 0 |
|**July** | 0 |
|**August** | 19 |
|**September**| 38 |
|**October** | 25 |
|**November** | 26 |
|**December** | 37 |

**From this we can see that 2019 began with restrictions in place, but was lifted in August**
</div>

# Question 4: Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?

In [25]:
df.head()

,date,time,user_id,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,program_name,end_page
date,,,,,,,,,,,,,,
2018-01-26,2018-01-26,09:55:03,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php,/
2018-01-26,2018-01-26,09:56:02,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php,java-ii
2018-01-26,2018-01-26,09:56:05,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php,java-ii/object-oriented-programming
2018-01-26,2018-01-26,09:56:06,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php,slides/object_oriented_programming
2018-01-26,2018-01-26,09:56:24,2,22.0,97.105.19.61,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java,javascript-i/conditionals

In [26]:
# how many times to the unique ip addresses show up in the data?
df.ip.value_counts()
# the top ip address is suspicious because it shows up more than four times more than the runner up

97.105.19.58       260986
97.105.19.61        61662
192.171.117.210      9302
67.11.50.23          4181
172.124.67.93        3511
                    ...
172.58.96.4             1
37.60.189.18            1
99.203.155.43           1
184.226.32.25           1
162.251.232.107         1
Name: ip, Length: 5284, dtype: int64

In [27]:
# source_ip is the addresses that show up more than once 
source_ip=df.ip.value_counts()[df.ip.value_counts()>1]
source_ip=pd.DataFrame(source_ip)
source_ip=list(source_ip.index)

In [28]:
# check 2 reveals ip addresses used more than once by any single user as well as by muliple users
check=df[df.ip.isin(source_ip)]
check2=check.groupby('user_id',as_index=False).value_counts()
check2=check2[check2['count']>1]
check2

,user_id,date,time,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,program_name,end_page,count
3154,3,2018-02-12,16:58:07,22.0,97.105.19.61,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java,jquery/events/keyboard-events,2
3155,3,2018-02-12,16:53:10,22.0,97.105.19.61,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java,jquery/essential-methods/attributes-and-css,2
4712,4,2018-02-13,14:08:08,22.0,97.105.19.61,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java,jquery,2
4713,4,2018-02-06,15:14:01,22.0,97.105.19.61,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java,html-css,2
5401,5,2018-03-16,09:48:58,22.0,97.105.19.61,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java,mysql/users,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811177,967,2021-04-14,08:31:35,139.0,130.45.59.45,139.0,Oberon,#oberon,2021-04-12 00:00:00,2021-10-01 00:00:00,2021-04-12 18:07:21,2021-04-12 18:07:21,full_stack_java,appendix/git/intellij-intro,2
811538,974,2021-04-16,14:03:15,139.0,72.193.254.235,139.0,Oberon,#oberon,2021-04-12 00:00:00,2021-10-01 00:00:00,2021-04-12 18:07:21,2021-04-12 18:07:21,full_stack_java,javascript-i,2
811856,979,2021-04-15,22:03:52,139.0,107.77.218.33,139.0,Oberon,#oberon,2021-04-12 00:00:00,2021-10-01 00:00:00,2021-04-12 18:07:21,2021-04-12 18:07:21,full_stack_java,javascript-i/javascript-with-html,2
811857,979,2021-04-15,14:55:04,139.0,107.77.218.33,139.0,Oberon,#oberon,2021-04-12 00:00:00,2021-10-01 00:00:00,2021-04-12 18:07:21,2021-04-12 18:07:21,full_stack_java,javascript-i/introduction,2
811981,981,2021-04-19,15:41:17,138.0,67.11.98.144,138.0,Neptune,#neptune,2021-03-15 00:00:00,2021-09-03 00:00:00,2021-03-15 19:57:09,2021-03-15 19:57:09,full_stack_java,html-css/css-ii/bootstrap-grid-system,2

In [29]:
len(check2.groupby('user_id').count()),len(check2.groupby('ip').count())
# 485 sus users, 456 sus ip addresses

(485, 456)

<div class="alert alert-block alert-success">

**Answer**
    
    *Cross examination of the data shows that there are 485 suspicious users, that is 485 users who use more than one ip address. And there are 456 suspicious ip addresses, that is 485 that are used by more than one user. 
    
If given more time, I would investigate the cross-suspiciousness of the users and addresses. 
</div>

# Question 5: Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
### in this I am looking for anomolous frequency in access

In [41]:
# plan: using ds data frame and java data frame created for previous questions, I will answer the question for each program

In [49]:
len(ds_df.end_page.value_counts()>100)
#683 end point web pages show up in the ds_df more than 100 times

683

In [50]:
len(wd_df.end_page.value_counts()>100)
#1113 end point web pages show up in the ds_df more than 100 times

1113

### For Data Science

In [53]:
ds_freq = pd.DataFrame(ds_df.groupby(['name', 'end_page']).user_id.count() / ds_df.user_id.count())
ds_freq

                                                    user_id
name     end_page
Bayes    /                                         0.019021
         1-fundamentals/1.1-intro-to-data-science  0.006189
         1-fundamentals/1.2-data-science-pipeline  0.002137
         1-fundamentals/1.3-pipeline-demo          0.001257
         1-fundamentals/2.1-excel-overview         0.000832
...                                                     ...
Florence subqueries                                0.000019
         timeseries/modeling-lesson2               0.000010
         timeseries/overview                       0.000048
         vocabulary                                0.000019
         where                                     0.000010

[1764 rows x 1 columns]

In [67]:
(ds_freq.user_id>0.02).value_counts()
# time to track down the one True

False    1762
True        2
Name: user_id, dtype: int64

In [69]:
holy_one = np.where(ds_freq.user_id>0.02)
holy_one

(array([  0, 953]),)

In [70]:
ds_freq.index[953]

('Darden', '/')

### For Java web development program

In [71]:
wd_freq = pd.DataFrame(wd_df.groupby(['name', 'end_page']).user_id.count() / wd_df.user_id.count())
wd_freq

                                                     user_id
name      end_page
Andromeda /                                         0.001865
          1-fundamentals/1.1-intro-to-data-science  0.000002
          1-fundamentals/1.2-data-science-pipeline  0.000002
          1-fundamentals/1.3-pipeline-demo          0.000002
          1-fundamentals/AI-ML-DL-timeline.jpg      0.000002
...                                                      ...
Zion      uploads/598dc43df39e2.jpg                 0.000002
          web-design/intro                          0.000002
          web-design/ui/visuals                     0.000002
          web-design/ux/layout                      0.000002
          web-design/ux/purpose                     0.000002

[7826 rows x 1 columns]

In [86]:
(wd_freq.user_id>0.0033).value_counts()
# time to track down the one True

False    7825
True        1
Name: user_id, dtype: int64

In [87]:
holy_one = np.where(wd_freq.user_id>0.0033)
holy_one

(array([6116]),)

In [89]:
wd_freq.index[6116]

('Voyageurs', '/')

<div class="alert alert-block alert-success">

**Answer**
    
    *For Data Science, Darden is the cohort that had unusually high access for a lesson
    *For Web Development, Voyageurs is the cohort with ususually high access for a lesson
    
If given more time, I would conduct statistical tests to determine how significant the differenct is between the means of the cohorts access vs. the means of the whole programs access 
</div>